<%= form_with(model: patient, local: true, class: "patient-form") do |f| %>
  <h2 class="form-title form-title-bold">Editar paciente</h2>
  <% if patient.errors.any? %>
    <div class="form-errors">
      <h4>Hay <%= patient.errors.count %> errores:</h4>
      <ul>
        <% patient.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group">
      <%= f.label :first_name, "FIRST NAME", class: "form-label" %>
      <%= f.text_field :first_name, class: "form-input" %>
    </div>

    <div class="form-group">
      <%= f.label :last_name, "LAST NAME", class: "form-label" %>
      <%= f.text_field :last_name, class: "form-input" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <%= f.label :birthday, "BIRTHDAY", class: "form-label" %>
      <%= f.date_field :birthday, class: "form-input" %>
    </div>

    <div class="form-group">
      <%= f.label :weight, "WEIGHT", class: "form-label" %>
      <%= f.number_field :weight, step: 0.1, class: "form-input" %>
    </div>

    <div class="form-group">
      <%= f.label :height, "HEIGHT", class: "form-label" %>
      <%= f.number_field :height, step: 0.01, class: "form-input" %>
    </div>
  </div>

  <div class="form-group-full">
    <%= f.label :nutrition_plan, "NUTRITION PLAN", class: "form-label" %>
    <%= f.text_area :nutrition_plan, class: "form-textarea form-textarea-small form-textarea-wide", rows: 4 %>
  </div>

  <div class="form-group-full">
    <%= f.label :clinical_history, "CLINICAL HISTORY", class: "form-label" %>
    <%= f.text_area :clinical_history, class: "form-textarea form-textarea-small form-textarea-wide", rows: 4 %>
  </div>

  <div class="form-actions">
    <%= link_to "Cancelar", patients_path, class: "btn-cancelar" %>
    <%= f.submit patient.persisted? ? "Actualizar Paciente" : "Crear Paciente", class: "btn-actualizar" %>
  </div>
<% end %> 
