<div class="container mt-4 d-flex justify-content-between">
  <h1>Paciente: <%= @patient.first_name %> <%= @patient.last_name %></h1>
  <%= link_to "Volver a lista", patients_path, class: "btn btn-success mt-3" %>
</div>

<div class="container mt-4">
  <ul class="list-group">
    <li class="list-group-item"><strong>first_name:</strong> <%= @patient.first_name %></li>
    <li class="list-group-item"><strong>last_name:</strong> <%= @patient.last_name %></li>
    <li class="list-group-item"><strong>birthday:</strong> <%= @patient.birthday %></li>
    <li class="list-group-item"><strong>height:</strong> <%= @patient.height %></li>
    <li class="list-group-item"><strong>weight:</strong> <%= @patient.weight %></li>
    <li class="list-group-item"><strong>nutrition_plan:</strong> <%= @patient.nutrition_plan %></li>
    <li class="list-group-item"><strong>clinical_history:</strong> <%= @patient.clinical_history %></li>
  </ul>
  <%= link_to "Editar paciente", edit_patient_path(@patient), class: "btn btn-primary mt-3" %>
  <%= link_to "Eliminar paciente", patient_path(@patient), data: { turbo_method: :delete, turbo_confirm: "¿Estás seguro?" }, class: "btn btn-danger mt-3" %>

