<div class="patient-show-page">
  <div class="patient-header">
    <h1>Paciente: <%= @patient.first_name %> <%= @patient.last_name %></h1>
    <div class="header-buttons">
      <%= link_to "Volver a lista", patients_path, class: "btn-volver-lista" %>
    </div>
  </div>

  <div class="patient-details-card">
    <div class="patient-info">
      <div class="info-item">
        <span class="info-label">Nombre:</span>
        <span class="info-value"><%= @patient.first_name %></span>
      </div>
      <div class="info-item">
        <span class="info-label">Apellido:</span>
        <span class="info-value"><%= @patient.last_name %></span>
      </div>
      <div class="info-item">
        <span class="info-label">Fecha de nacimiento:</span>
        <span class="info-value"><%= @patient.birthday %></span>
      </div>
      <div class="info-item">
        <span class="info-label">Altura:</span>
        <span class="info-value"><%= @patient.height %></span>
      </div>
      <div class="info-item">
        <span class="info-label">Peso:</span>
        <span class="info-value"><%= @patient.weight %></span>
      </div>
      <div class="info-item">
        <span class="info-label">Plan de nutrición:</span>
        <span class="info-value"><%= @patient.nutrition_plan %></span>
      </div>
      <div class="info-item">
        <span class="info-label">Historia clínica:</span>
        <span class="info-value"><%= @patient.clinical_history %></span>
      </div>
    </div>
    
    <div class="action-buttons">
      <%= link_to "Editar paciente", edit_patient_path(@patient), class: "btn-editar-paciente" %>
      <%= link_to "Eliminar paciente", patient_path(@patient), 
          data: { turbo_method: :delete, turbo_confirm: "¿Estás seguro?" }, 
          class: "btn-eliminar-paciente" %>
    </div>
<hr>
<div>
  <h2>Asistente IA</h2>
  <%= button_to "Activar asistente", chats_path(patient_id: @patient.id), class: "btn-asistente-ia", data: {turbo_frame: "chat"} %>
  <%= turbo_frame_tag "new_chat" %>
  <div class="container">
    <div class="row">
      <div class="col-3"><%= render @chats %></div>
      <div class="col-9">
        <%= turbo_frame_tag "chat" %>
      </div>
    </div>
  </div>
</div>
  </div>
</div>

